
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    font-weight: 300;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1rem .7rem 0 0;
}

header a {
    color: #000;
    margin-right: .5rem;
}

.pic {
    width: 33px;
    height: 33px;
}

.apps {
    width: 23px;
    height: 23px;
    margin: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 25px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 24px;
    width: 580px;
    padding-right: 20px;
    padding-left: 20px;
}

.searchbar input {
    width: 90%;
    height: 43px;
    border: none;
}

.searchbar input:focus {
    outline: red;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-color: #f2f2f2;
    color: #70757a;
}

footer div {
    margin: 10px 25px;
}

footer div:first-child a {
    margin-right: 15px;
}

footer div:last-child a {
    margin-left: 15px;
}
